BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "reset0" SITE "1" ;
LOCATE COMP "clk0" SITE "61" ;
LOCATE COMP "outr0[3]" SITE "97" ;
LOCATE COMP "outr0[2]" SITE "98" ;
LOCATE COMP "outr0[1]" SITE "95" ;
LOCATE COMP "outr0[0]" SITE "96" ;
LOCATE COMP "inkey0[0]" SITE "91" ;
LOCATE COMP "inkey0[1]" SITE "92" ;
LOCATE COMP "inkey0[2]" SITE "93" ;
LOCATE COMP "inkey0[3]" SITE "94" ;
LOCATE COMP "outcoder0[6]" SITE "77" ;
LOCATE COMP "outcoder0[5]" SITE "78" ;
LOCATE COMP "outcoder0[4]" SITE "81" ;
LOCATE COMP "outcoder0[3]" SITE "82" ;
LOCATE COMP "outcoder0[2]" SITE "83" ;
LOCATE COMP "outcoder0[1]" SITE "84" ;
LOCATE COMP "outcoder0[0]" SITE "85" ;
LOCATE COMP "cdiv00[3]" SITE "25" ;
LOCATE COMP "cdiv00[4]" SITE "26" ;
LOCATE COMP "cdiv00[1]" SITE "27" ;
LOCATE COMP "cdiv00[2]" SITE "28" ;
LOCATE COMP "cdiv00[0]" SITE "33" ;
LOCATE COMP "outtransist0[3]" SITE "73" ;
LOCATE COMP "outtransist0[2]" SITE "74" ;
LOCATE COMP "outtransist0[1]" SITE "75" ;
LOCATE COMP "outtransist0[0]" SITE "76" ;
